# Project

/docs/html
/docs/latex

/data/eval/spectrums/
/data/eval/modified_output.wav
/data/eval/input_file.wav
/data/eval/output_file.wav

/Testing/
/Testing/*

/bin
/build
/build/*

*.DS_Store

main

*/main.dSYM

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo